@using System.Security.Claims
@using IdentityServer.DbContext
@using Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    <span>Refresh page</span>
    <a asp-controller="Home" asp-action="Index">Home</a>
</div>

<div>
    <span>Authority: </span><br>
    @if (User.Identity.IsAuthenticated)
    {
        <span>Name: @ViewBag.UserName</span>
    }
</div>

<div>
    <span>API interaction: </span><br>
    <button onclick="GetEvents()">Get ALL events</button><br>
    @if(User.Identity.IsAuthenticated)
    {
        <button onclick="GetMyEvents()">Get MY events</button>
        <br>
    }
    
    <div class="idSearch">
        <input type="text" name="id">
        <button onclick="GetEvent()">Get</button>
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="Add" style="display: block">
            <span>Add: </span><br>
            <input type="text" placeholder="MeetupName" name="MeetupName">
            <input type="text" placeholder="Theme" name="Theme">
            <input type="text" placeholder="Description" name="Description">
            <input type="text" placeholder="Speeker" name="Speeker">
            <input type="date" name="Time">
            <input type="text" placeholder="Location" name="Location">
            <button onclick="AddEvent()">Confirm</button>
        </div>
        
        <div class="Update" style="display: none">
            <span>Update: </span><br>
            <input type="text" placeholder="MeetupName" name="MeetupName">
            <input type="text" placeholder="Theme" name="Theme">
            <input type="text" placeholder="Description" name="Description">
            <input type="text" placeholder="Speeker" name="Speeker">
            <input type="date" name="Time">
            <input type="text" placeholder="Location" name="Location">
            <button onclick="UpdateEvent()">Confirm</button>
        </div>
        
        <div>
            <a asp-controller="Home" asp-action="Logout">Logout</a>
        </div>
    }
    else
    {
        <div>
            <a asp-controller="Home" asp-action="Login">Login</a>
        </div>
    }
    
</div>

<div id="searchContainer">
    <span>Events</span>
    
</div>

<script src="js/apiFunctions.js"></script>

