@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IdentityServer.ViewModels.LoginViewModel

<span>Login: </span><br>
<form asp-controller="Account" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl">
    <input type="text" asp-for="Username" value="admin">
    <input type="text" asp-for="Password" value="admin">
    <input type="submit" value="Confirm">
</form>

<br>
<span>Register</span><br>
<form asp-controller="Account" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl">
    <input type="text" asp-for="Username" value="">
    <input type="text" asp-for="Password" value="">
    <input type="submit" value="Confirm">
</form>