html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 14px;

    /* CSS HEX */
    --russian-violet: #261447ff;
    --bitter-lime: #cafe48ff;
    --eerie-black: #1e1e1eff;
    --black-olive: #3d3b30ff;
    --lavender-blush: #fdecefff;
}

body {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;

    background: var(--black-olive);
}

*:hover,
*:focus,
*:active
{
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}

/* #####################################################*/
/* ####                HEADER SECTION               ####*/
/* ##################################################### */

header {
    flex-grow: 0;

    width: 100%;
    height: 75px;

    padding: 0px 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bitter-lime);
    border-bottom: 5px solid var(--russian-violet);
}

header button {
    background-color: transparent;
    color: var(--russian-violet);
    font-weight: bold !important;

    border-radius: 5px;
}

header a:hover {
    color: var(--russian-violet);
    text-decoration: none;
}

header button:focus {
    box-shadow: none !important;
}

header .logo button {
    font-size: 22px;
}

/* #####################################################*/
/* ####                 MAIN SECTION                ####*/
/* ##################################################### */

main {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

main .input-group {
    width: 40%;
}

main .input-group button,
main .input-group input {
    padding: 15px 25px;

    border: none;
    border-radius: 50px !important;
    background-color: transparent;

    color: white;
    font-size: 14px;
}

main .input-group input:active,
main .input-group input:focus,
main .input-group input {
    color: var(--russian-violet);
}

main .input-group button {
    letter-spacing: 3px;
    font-weight: bold;
}

main .form-control:focus,
main .input-group input {
    box-shadow: none;
    background-color: var(--lavender-blush);

    outline: 3px solid var(--bitter-lime);
    outline-offset: -3px;
}

main .input-group:before {
    height: 100%;
    width: 100%;

    position: absolute;

    background-color: var(--eerie-black);
    border-radius: 50px;
    content: '';
}

/* #####################################################*/
/* ####                FOOTER SECTION               ####*/
/* ##################################################### */

footer {
    flex-grow: 0;

    width: 100%;
    height: 25px;

    padding: 0px 250px;
    background-color: var(--eerie-black);
}

